notes
exports

*/node_modules

*/.env.production
*/.env.development

*/yarn.lock
*/yarn-error.lock
*/yarn-error.log
*/package.lock
temp

*/dist

**/credentials.json
**/credentials
server/credentials/credentials_dev.json
server/credentials/credentials_prod.json
